Package: xyz.helloyunho.check-my-mobile-salt
Name: CheckMyMobileSalt
Version: 1.0.0
Architecture: iphoneos-arm
Description: Simple app to check your iDevice's mobilegestalt.
Maintainer: Helloyunho
Author: Helloyunho
Section: Applications
Depends: firmware (>= 12.2)
